<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h1> THÊM MỚI SẢN PHẨM</h1>
<form action="/add" method="post" th:object="${product}">
    <label th:for="id">Nhập mã sản phẩm</label>
    <input type="text" th:field="*{id}">
    <label th:for="name">Nhập tên sản phẩm</label>
    <input type="text" th:field="*{name}">
    <label th:for="price">Nhập giá sản phẩm</label>
    <input type="text" th:field="*{price}">
    <label th:for="describe">Nhập mô tả sản phẩm</label>
    <input type="text" th:field="*{describe}">
    <label th:for="company">Nhập công ty</label>
    <input type="text" th:field="*{company}">
    <button type="submit">Lưu</button>
</form>
</body>
</html>