<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Blog List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<h1 class="text-center text-warning"> QUẢN LÝ SÁCH</h1>
<form action="/book/give" class="d-flex" method="get">
    <input class="form-control me-2" type="search" name="code"  placeholder="Nhập Mã Sách"
           aria-label="Search">
    <button class="btn btn-primary" type="submit">Trả</button>
</form>
<p th:text="${mess}" class="text-danger text-center"></p>

<table class="table table-danger">
    <tr>
        <th>Số thứ tự</th>
        <th>Tên Sách</th>
        <th>Tác Giả</th>
        <th>Số Lượng</th>
        <th>Mã Thuê</th>
        <th>Xem chi tiết</th>

    </tr>
    <tr th:each="book, status : ${bookList}">
        <td th:text="${status.count}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.amount}"></td>
        <td th:text="${book.bookCode.bookCode}"></td>
        <td><a th:href="@{/book/detail/__${book.id}__}">
            <button class="btn btn-secondary">Chi tiết</button>
        </a></td>
    </tr>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>